<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <script type="text/javascript" src="static/js/script.js"></script>

    <!-- Page title -->
    <title>{% block title %}Marking Assist Tool{% endblock %}</title>
</head>


<body class="body">
    <div class="all">
        <header class="header">
            <p>
                <h1>
                    PHY1031 Marking Tool (2024-25)
                    <img class="logo" src="../static/assets/logo.png" height="50px" alt="python-logo">
                </h1>
                <form action="path_assessor_change" method="POST">
                    <input class="usrinput" type="text" size="80" value="{{ path_sub }}" name="path_sub"/>
                    <input class="usrinput" type="text" size="6" value="{{ assessor }}" name="assessor"/>
                    <input class="usrinput btn red" type="submit" value="Save Change"/>
                </form>
            </p>
            <nav class="tab-nav">
            <ul>
                <li><p class="box"><a class="tab" href="/">&#9312; Marking Criteria Editing</a></p></li>
                <li><p class="box"><a class="tab" href="/marking">&#9313; Marking</a></p></li>
                <li><p class="box"><a class="tab" href="/reporting">&#9314; Report Generating</a></lip></li>
            </ul>
            </nav>
        </header>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>