{% extends 'base.html' %}

{% block title %}Marking Criteria - {{ super() }}{% endblock %}

{% block content %}
    
<div class="all">
  <form action="?" method="POST">
    <div class="c">
      <top_ctrl class="h_split">
        Term <input class="usrinput" type="number" min=1 placeholder=1 size="1" value="{{ term | default('1') }}" name="term" /> Home Work #<input class="usrinput" type="number" min=1 placeholder=1 size="1" value="{{ hw | default('1') }}" name="hw"/>
        <input class="usrinput btn" type="submit" value="Add Column" formaction="/add_cols" />
        <input class="usrinput btn" type="submit" value="Del Column" formaction="/del_cols" />
      </top_ctrl>
    </div>

    <div class="c">
      <div class="v_split short">
        <h2>Checkpoinbts:</h2>
    
        <p>
          Index
          <input class="usrinput" type="number" min=0 size="1" value="{{ cps_idx | default('0') }}" name="cps_idx"/>
        </p>
        <p>
          Content
          <input class="usrinput" type="text" size="80" value="{{ cps_txt | default('checkpoint') }}" name="cps_txt"/>
        </p>
        <p>
          Mark
          <input class="usrinput" type="number" min=1 placeholder=1 size="2" value="{{ cps_mark | default('1') }}" name="cps_mark"/>
        </p>
        <p>
          <input class="usrinput btn" type="submit" value="Add" formaction="/cps_add"/>
          <input class="usrinput btn" type="submit" value="Del" formaction="/cps_del"/>
        </p>
      </div>
      <div class="v_split short">
        <h2>Good Programming Practice:</h2>
        <p>
          Index
          <input class="usrinput" type="number" min=0 placeholder=0 size="1" value="{{ gpp_idx | default('0') }}" name="gpp_idx"/>
        </p>
        <p>
          Content
          <input class="usrinput" type="text" size="80" value="{{ gpp_txt | default('checkpoint') }}" name="gpp_txt"/>
        </p>
        <p>
          Mark
          <input class="usrinput" type="number" min=1 placeholder=1 size="2" value="{{ gpp_mark | default('1') }}"  name="gpp_mark"/>
        </p>
        <p>
          <input class="usrinput btn" type="submit" value="Add" formaction="/gpp_add"/>
          <input class="usrinput btn" type="submit" value="Del" formaction="/gpp_del"/>
        </p>
      </div>
    </div>
    <div class="c">
      <v_split class="v_split">
        <div class="sticky_cols">
          {{ df_cps | safe }}
        </div>
      </v_split>
      <v_split class="v_split">
        <div class="sticky_cols">
          {{ df_gpp | safe }}
        </div>
      </v_split>
    </div>
  </form> 
  <div class="c">
    <bottom_ctrl class="h_split">
      <p>
        {{message}}
      </p>
      
      <form action="/save" method="POST">
        <p><input class="usrinput btn red" type="submit" value="Save"></p>
      </form>
      
      <form action="/reload" method="POST">
        <p><input class="usrinput btn" type="submit" value="Reload saved marking criteria"></p>
      </form>
    </bottom_ctrl>
  </div>
</div>
{% endblock %}