{% extends 'base.html' %}

{% block title %}Reporting - {{ super() }}{% endblock %}

{% block content %}

<div class="all">
    <form action="?" method="POST">
        <div class="c">
            <top_ctrl class="h_split">
                <p>
                    Term <input class="usrinput" type="number" min=1 placeholder=1 size="1" value="{{ term | default('1') }}" name="term" /> Home Work #<input class="usrinput" type="number" min=1 placeholder=1 size="1" value="{{ hw | default('1') }}" name="hw"/>
                    <input class="usrinput btn green" type="submit" value="confirm homework" formaction="/confirm_homework" />
                </p>

                <p>
                    <select class="usrinput selection" name="sub_id_selected" style="width: 220px;">
                        {% for sub in sub_ids %}
                            <option value="{{ sub.value }}" {% if sub.selected %} selected {% endif %}>
                                {{ sub.value }}
                            </option>
                        {% endfor %}
                    </select>

                    <input class="usrinput btn green" type="submit" value="confirm submission id" formaction="/confirm_sub_id" />
                </p>
                {{ message }}
            </top_ctrl>
        </div>

        <div class="c">
            <v_split_wide class="v_split wide mid">
                <div class="sticky_cols">
                    {{ df_ms | safe }}
                </div>
            </v_split_wide>
        </div>

        <div class="c">
            <div class="v_split tall non_scroll">
                <h2>Report Template</h2>
                <p>Head</p>
                <textarea class="usrinput" name="template_head" cols="55" rows="9">{{ template_head }}</textarea>
                <input class="usrinput btn green" type="submit" value="Update Template" formaction="/update_template_head" /> <input class="usrinput btn red" type="submit" value="Generate Report" formaction="/generate" />
                <h2>.ipynb >>> .pdf</h2>
                <p>
                This conversion is a beta functionality. If encounter errors, please brows-back.
                </p>
                <p>
                    Once the button is pressed, please wait until the page is refreshed!
                </p>
                <input class="usrinput btn red" type="submit" value=".ipynb -> .pdf for all submissions" formaction="/ipynb2pdf" />
                <p>
                <textarea id="log"></textarea>
                </p>
                <!-- <textarea readonly class="usrinput" name="cmd" cols="55" rows="27">{{ cmd }}</textarea> -->
            </div>
            <div class="v_split tall">
                <h2>Markdown Report</h2>
                <p>
                    {{ sub_id_selected }}
                </p>
                <textarea readonly class="usrinput" name="summary" cols="55" rows="42">{{ summary }}</textarea>

            </div>
            <div class="v_split tall">
                <h2>Preview: </h2>
                {{ summary_html | safe }}
            </div>
        </div>

    </form>

    <div class="c">
        <div class="h_split foot">
        </div_ctrl>
    </div>
</div>
{% endblock %}